<% if current_user.admin? %>
  <div class="row">
    <div class='col-11 offset-1 col-sm-4'>
      <%= link_to 'Add events', new_event_path, class: 'btn btn-primary button_align' %>
      <%= link_to 'Add restaurants', new_restaurant_path, class: 'btn btn-primary button_align' %>
    </div>
  </div>
<% elsif current_user.user? %>
  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <%= pie_chart [["Yes", @presenter.yes_vote_count], ["No", @presenter.no_vote_count]], id:'polls'%>
      </div>
    </div>
    <% unless current_user.response_exists?(current_user, @presenter.event.id) %>
      <div class="row">
        <div class='col-11 offset-1 col-sm-4'>
          <h3>New poll</h3>
          <%= render :template => 'responses/new', locals: { response: @presenter.response, event: @presenter.event } %>
        </div>
      </div>
    <% end %>
  </div>
<% elsif current_user.leader? %>
  <% unless current_user.group_notified(current_user.id, current_user.user_restaurants.last&.restaurant_id) %>
    <%= render 'restaurants/restaurant_list', restaurants: @presenter.restaurants, restaurant: @presenter.restaurant %>
  <% else %>
    <p> Your response has been recorded successfully. And your group has been notified </p>
  <% end %>
<% else %>
  <p>Right now there is no upcoming event. Stay tune we will inform you</p>
<% end %>
